@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
	display:flex;
	justify-content: center;
	align-items:center;
	background-color : #F5F5F5;
	font-family: 'Roboto', sans-serif;
}
form{
		margin-top:0%;
		background-color : #fff;
		padding: 5% 8%;
		border-radius:5%;
		min-width: 20%;
		
}
form h1{
		color :#4cd9a3;
		text-align:center;
}
form p.choose-email{
	text-align:center;
}

form .inputs{
		display:flex;
		flex-direction:column;
		
}
form .inputs input[type="email"], input[type="password"],input[type="password2"]{
	padding:4%;
	border-radius:3%;
	border:none;
	border-color : #F2F2F2;
	margin-bottom : 3%;
	outline:none;
	background-color : #F5F5F5;
}

	
form p.inscription{
		font-size:85%;
		margin-bottom:5%;
		color : #042331;
		text-align: center;
}
form p.inscription span{
		color : #4cd9a3;
}

form button{
	padding:5% 7%;
	border:none;
	border-radius:8%;
	color : #fff;
	background-color :#4cd9a3;
	
	
}

@keyframes transitionIn{
	from{
		opacity:0;
		transform: rotateX(-10deg);
		
	}
	
	to{
		opacity:1;
		transform: rotateX(0);
		
	}
	
}
.transition{
	animation: transitionIn 0.75s;
}
a{
	color:white;
}